こんにちは！
本日は<%- month %>月<%- day %>日ですね。 
<p>
<ul>
<li><a href="form_sample">サンプル1：フォームによる値渡し</a></li>
<li><a href="query_sample">サンプル2：データベース検索</a></li>
<li><a href="birthplace">課題8-2:出身地で名簿検索</a></li>
</ul>
